[user]
    name = Alejandro Andersson
    email = alejandro@thelad.io
[core]
    excludesfile = ~/.gitignore_global
    editor = /usr/local/bin/vim
    ignorecase = true
[push]
    followTags = true
    default = simple
[rebase]
    autosquash = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
    trustExitCode = true
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[pull]
	rebase = false
