snippet html "html template structure" b
<!DOCTYPE HTML>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Website Title</title>
    </head>

    <body>

    </body>

</html>
endsnippet

snippet js "script tag" b
<script src="$1"></script>
endsnippet

snippet css "css tag" b
<link rel="stylesheet" href="$1" type="text/css">
endsnippet
