snippet < "create start and end tag" b
<$1>

</$1>
endsnippet

snippet doc "create doc" b
<!--===========================
  $1
===========================-->
endsnippet

snippet << "create start and end tag with no line break" b
<$1>$2</$1>
endsnippet
